*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container{
    color: rgb(238, 238, 238);
    background-color: #1F2937;
    padding: 10px 20px;
    padding: auto;
    list-style: none;
    height: 600px;
    margin: auto;
}

.header{
    margin: 0 auto;
    font-size: 24px;
    color: #ffffff;
    display: flex;
    width: 1000px;
    height: 50px;  
    
}

ul{
   display: flex;
   width: 1000px;
   list-style: none;
   justify-content: flex-end;
   gap: 30px;
   margin-top: 10px;
   flex: 1 1 auto;
}

a{
    color: #f9faf8;
    text-decoration: none;
    font-style: #e5e7eb;
    font-size: 18px;
}


.hero{
    display: flex;
    height: 300px;
    margin-top: 100px;
    flex-direction: rw;
    align-items: center;

}


.header1{
    margin-left: 30px;
    font-size: 30px;
    

}

 .img-header{
    margin: 100px 160px;
    border: 4px solid #3882f6;
    border-radius: 5px;
    width: 450px;
    height: 250px;
    align-content: center;
    display: flex;
}




p{
    font-size: 18px;
    margin-top: 10px;
    color: #e5e7e5eb;
    font-style: italic;
}

button{
    margin-top: 10px;
    background-color: #3882f6;
    height: 40px;
    width: 100px;
    color: aliceblue;
    font-size: 15px;
    font-weight: bolder;
    border: #3882f6 1px solid;
    border-radius: 5px;

}

button:hover{
    background-color: black;
    color: white;
    border: black;
}

.main-header{
    font-size: 30px;
    display: flex;
    justify-content: center;
    color: #1F2937;
    margin-top: 15px;

}

.photo-grid-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;


}

.photo-grid-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;

}

.img-photo{
    width: 10rem;
    border: 1px solid;
    display: flex;
    height: 10rem;
    border-radius: 5px;
    border: 4px solid #1F2937;
    justify-content: center;
    
}

.desc{
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    height: 150px;
}

.section-container{
    background-color: #E5E7EB;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.section-quote{
    width: 800px;
    height: 200px;
    position: relative;
}

.quote{
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    text-align: center;
}

.name{
    color: #0a1627;
    font-weight: bolder;
    font-size: 25px;
    position: absolute;
    left: 569px;
    bottom: 1px;
    width: 230px;
}

.sign-up-container{
    border: 1px solid;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-item{
    border: 1px solid #3882f6;
    height: 190px;
    width: 1000px;
    border-radius: 10px;
    background-color: #3882f6;
    
}

.sign-up-section{
    width: 700px;
    margin: 35px 150px;

}

.sign-up-desc1{
    font-size: 25px;
    font-weight: bold;
    width: 250px;
    position: relative;
    top: 30px;
}

.sign-up-desc2{
    width: 470px;
    position: relative;
    top: 20px;
}

.bt2{
    border: 2px solid;
    position: relative;
    left: 599px;
    bottom: 40px;
    width: 100px;
}


.copyright-container{
    height: 100px;
    background-color: #0a1627;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-item{
    width: 400px;
    height: 30px;
}

.copyright-desc{
    font-size: 17px;
    text-align: center;
    
}