*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container{
    color: rgb(238, 238, 238);
    background-color: #1F2937;
    padding: 10px 20px;
    padding: auto;
    list-style: none;
    height: 600px;
    border: 1px solid;
    margin: auto;
}

.header{
    margin: 0 auto;
    font-size: 24px;
    color: #ffffff;
    border: 1px solid;
    display: flex;
    width: 1000px;
    height: 50px;  
    
}

ul{
   display: flex;
   width: 1000px;
   list-style: none;
   justify-content: flex-end;
   gap: 30px;
   margin-top: 10px;
}

a{
    color: #f9faf8;
    text-decoration: none;
    font-style: #e5e7eb;
    border: 1px solid;
    font-size: 18px;
}

