*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    color: #e5e7eb;
    font-size: 25px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav, .menu-items{
    flex-wrap: wrap;
    background-color: #1f2937;
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

li{
    margin-left: 30px;
    list-style: none;
}


a{
    color: #e5e7eb;
    text-decoration: none;
    font-style: #e5e7eb;
    font-size: 18px;
}

header{
    background-color: #1f2937;
    padding: 80px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.pic{
    border: 5px solid #832df5;
    width: 450px;

    
}

.part1{
    width: 450px;
    
}


.title{
    font-size: 60px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #e5e7eb;
    width: 550px;
}

.para{
    width: 350px;
    color: #e5e7eb;
    margin-top: 10px;
}

button{
    background-color: #3882f6;
    padding: 7px 20px;
    border: 1px solid #3882f6;
    margin-top: 12px;
    color: aliceblue;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.footer-container{
    padding: 50px;
}

.header-info{
    text-align: center;
    margin: 10px;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.image-items{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    flex-wrap: wrap;
}

footer img{
    border: 2px solid #3882f6; 
    height: 150px;
    width: 150px;
    border-radius: 5px;
}

.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

footer h1{
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: #1f2937;
    margin-top: 10px;
}

section{
    background-color: #e5e7eb;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.quote{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    width: 700px;
   
}

span{
    font-weight: bold;
    font-family: 'La Belle Aurore', cursive;
    font-style: italic;
    position: relative;
    left: 50px;
    top: 50px;
}


.sign-up-container{
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-item { 
    display: flex; 
    align-items: center;
    border: 1px solid #3882f6;
    padding: 30px;
    width: 800px;
    background-color: #3882f6;
    border-radius: 5px;
    flex-wrap: wrap;

}


.sign-up-container button{
    border: 2px solid;
    margin-left: 100px;
}

.p1{
    color: #e5e7eb;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
}


.p2{
    color: #e5e7eb;
    font-style: normal;
    font-size: 20px;
}

.copyright-container{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright{
    color: #e5e7eb;
    padding: 50px;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*UI*/

@media (max-width: 550px){
    .header{
        font-size: 18px;
    }

    .title{
        position: relative;
        left: 40px;
        line-height: 70px;
        font-size: 30px;
    }

    .para{
        margin: 0 auto;
        width: 380px;
    }

    .pic{
        width: 350px;
    }

    button{
        margin: 30px;
        position: relative;
        left: 140px;
    }

    .header-info{
        font-size: 25px;
    }

    .image-items{
        gap: 10px;
    }

    .quote{
        font-size: 17px;
    }

    .sign-up-container {
        display: flex;
        flex-direction: column;
    }

    .sign-up-item{
        width: 400px;
    }

    .b2{
        position: static;
    }
}